<div class="row-fluid">
    <h5>Advanced Options</h5>
    <div class="editor-option">
      <label class="small">Fields <tip>The fields to show in the panel</tip></label>
        <input ng-change="set_refresh(true)" placeholder="Start typing" bs-typeahead="fields.list" type="text" class="input-large" ng-model="panel.field">
    </div>
    <div class="editor-option">
        <label class="small"> Show labels</label><input type="checkbox" ng-model="panel.show_field_name" ng-checked="panel.show_field_name">
    </div>
    <div class="editor-option">
        <label class="small"> Show errors </label><input type="checkbox" ng-model="panel.errors" ng-checked="panel.errors">
    </div>
    <div class="editor-option">
        <label class="small">Single entity mode</label><input type="checkbox" ng-model="panel.unique_entity" ng-checked="panel.unique_entity">
    </div>
     <div class="editor-option" ng-show="panel.unique_entity">
      <label class="small">Entity field name </label>
        <input ng-change="set_refresh(true)" placeholder="Start typing" bs-typeahead="fields.list" type="text" class="input-small" ng-model="panel.entity_field">
    </div>
</div>

