<div>
  <h4>Settings</h4>
  <div class="row-fluid">
    <div class="editor-option">
       <label class="small">Entities<tip>Add entity names here if you want them to appear even if they have sent no data</tip></label>
        <input type="text" class="input-large" ng-model="panel.entities" ng-change="set_refresh(true)">
    </div>
  </div>
</div>
