<div ng-controller='square' ng-init="init()">

  <style>
       .square {
      padding: 15px;
      background: #e5e5e5;
      width: 5vw;
      height: 5vw;
      word-break: break-all;
      margin: 0 0 2px 2px;
      float: left;

      text-align: center;
    }
  </style>

  <div ng-repeat="item in data">
    <div class='square {{item.color}}' style="background: {{item.color}}">
      {{item.name}}
    </div>
  </div>
</div>
