  <div class="editor-row">
    <div class="section">
      <h5>Parameters</h5>
      <div class="editor-option">
        <label class="small">Stats type</label>
        <select class="input-small" ng-model="panel.tstat" ng-options="f for f in ['min', 'max', 'avg', 'sls']"></select>
      </div>
      <div class="editor-option">
        <label class="small">Row field</label>
        <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.key">
      </div>
      <div class="editor-option">
        <label class="small">Value Field</label>
        <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.min_field">
      </div>
      <div class="editor-option">
        <label class="small">Metric id</label>
        <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.metric_id">
      </div>
    </div>
      <div class="section">
      <h5>View options </h5>
      <div class="editor-option">
        <label class="small">Group</label>
        <input type="checkbox" ng-model="panel.group" ng-checked="panel.group">
      </div>
      <div class="editor-option" ng-show="panel.tstat != 'sls'">
        <label class="small">Show legend</label>
        <input type="checkbox" ng-model="panel.show" ng-checked="panel.show">
      </div>
      <div class="editor-option">
        <label class="small">Add links</label>
        <input type="checkbox" ng-model="panel.have_urls" ng-checked="panel.have_urls">
      </div>
      <div class="editor-option">
        <label class="small">Ignore metric_id</label>
        <input type="checkbox" ng-model="panel.ignore_metric_id" ng-checked="panel.ignore_metric_id">
      </div>
    </div>
  </div>
