<div ng-controller='heatmap' ng-init="init()">
  <style>
    .fullscreen {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    #heatmap-controls select {
      margin: 0;
    }
  </style>

  <div>
    <div heatmap params="{{panel}}" style="position:relative" class="pointer">
          <div id="heatmap-canvas"></div>
    <div style="clear:both"></div>
  </div>
</div>
