  <div class="editor-row">
    <div class="section">
      <h5>Parameters</h5>
      <div class="editor-option">
        <label class="small">Terms mode</label>
        <select class="input-medium" ng-model="panel.tmode" ng-options="f for f in ['terms','terms_stats']" ng-change="set_refresh(true)"></select>
      </div>
      <div class="editor-option" ng-show="panel.tmode == 'terms_stats'">
        <label class="small">Stats type</label>
        <select class="input-medium" ng-model="panel.tstat" ng-options="f for f in ['count', 'total_count', 'min', 'max', 'total', 'mean']"></select>
      </div>
      <div class="editor-option">
        <label class="small">Field</label>
        <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.field" ng-change="set_refresh(true)">
      </div>
      <div class="editor-option" ng-show="panel.tmode == 'terms_stats'">
        <label class="small">Value field</label>
        <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.valuefield" ng-change="set_refresh(true)">
      </div>
      <div class="editor-option">
        <label class="small">Length</label>
        <input class="input-small" type="number" ng-model="panel.size" ng-change="set_refresh(true)">
      </div>
      <div class="editor-option">
        <label class="small">Order</label>
        <select class="input-medium" ng-model="panel.order" ng-options="f for f in ['count','term','reverse_count','reverse_term']" ng-change="set_refresh(true)"  ng-show="panel.tmode == 'terms'"></select>
        <select class="input-medium" ng-model="panel.order" ng-options="f for f in ['term', 'reverse_term', 'count', 'reverse_count', 'total', 'reverse_total', 'min', 'reverse_min', 'max', 'reverse_max', 'mean', 'reverse_mean']" ng-change="set_refresh(true)"  ng-show="panel.tmode == 'terms_stats'"></select>
      </div>
      <div class="editor-option" ng-show="panel.tmode == 'terms'">
        <label class="small">Exclude Terms(s) (comma separated)</label>
        <input array-join type="text" ng-model='panel.exclude'></input>
      </div>
    </div>
  </div>
  <div class="editor-row">
    <div class="section">
      <h5>View Options</h5>
      <div class="editor-option">
        <label class="small">Style</label>
        <select class="input-small" ng-model="panel.chart" ng-options="f for f in ['bar','pie','table']"></select></span>
      </div>
      <div class="editor-option" ng-show="panel.chart == 'table'">
        <label class="small">Font Size</label>
        <select class="input-mini" ng-model="panel.style['font-size']" ng-options="f for f in ['7pt','8pt','9pt','10pt','12pt','14pt','16pt','18pt','20pt','24pt','28pt','32pt','36pt','42pt','48pt','52pt','60pt','72pt']"></select></span>
      </div>
      <div class="editor-option" ng-show="panel.chart == 'bar' || panel.chart == 'pie'">
        <label class="small">Legend</label>
        <select class="input-small" ng-model="panel.counter_pos" ng-options="f for f in ['above','below','none']"></select></span>
      </div>
      <div class="editor-option" ng-show="panel.chart != 'table' && panel.counter_pos != 'none'">
        <label class="small" >Legend Format</label>
        <select class="input-small" ng-model="panel.arrangement" ng-options="f for f in ['horizontal','vertical']"></select></span>
      </div>
      <div class="editor-option">
        <label class="small">Missing</label><input type="checkbox" ng-model="panel.missing" ng-checked="panel.missing">
      </div>
      <div class="editor-option" ng-show="panel.tmode == 'terms' && panel.chart != 'table'">
        <label class="small">Other</label><input type="checkbox" ng-model="panel.other" ng-checked="panel.other">
      </div>
      <div class="editor-option">
        <label class="small">Availability Mode<tip>Shows documents which have either 'available', 'degraded' or 'unavailable' in the field.</tip></label><input type="checkbox" ng-model="panel.sls" ng-checked="panel.sls">
      </div>
      <div class="editor-option" ng-show="panel.chart == 'table'">
        <label class="small">Count</label><input type="checkbox" ng-model="panel.count_column" ng-checked="panel.count_column">
      </div>
      <div class="editor-option" ng-show="panel.chart == 'table'">
        <label class="small">Value info</label><input type="checkbox" ng-model="panel.value_info" ng-checked="panel.value_info">
      </div>
      <div class="editor-option" ng-show="panel.chart == 'pie'">
        <label class="small">Donut</label><input type="checkbox" ng-model="panel.donut" ng-checked="panel.donut">
      </div>
      <div class="editor-option" ng-show="panel.chart == 'pie'">
        <label class="small">Tilt</label><input type="checkbox" ng-model="panel.tilt" ng-checked="panel.tilt">
      </div>
      <div class="editor-option" ng-show="panel.chart == 'pie'">
        <label class="small">Labels</label><input type="checkbox" ng-model="panel.labels" ng-checked="panel.labels">
      </div>
    </div>
  </div>
